body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
}

.header{
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}

.navbar ul{
    display: flex;
    list-style-type :none;
    flex-direction: row;
    gap:15px;
}

.nav{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}

.navheader{
    display:flex;
    align-items: center;
    font-weight:bold;
}

.navheader h3{
    font-weight: 800;
}

.navbar{
    display:flex;
    align-items: center;
}
.undernav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:50px;
    gap : 100px;
}

.header_undernav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    flex-wrap:wrap;
    flex:1;
}

.header_undernav h1{
    display:flex;
    font-weight: 900;
    
}

.header_undernav p{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 25vw;
    flex-wrap: wrap;
}

.header_img{
    display:flex;
    flex:1;
    flex-wrap: wrap;
}

.button{
    background-color:#3882F6 ;
    color:white;
    max-width: 10vh;
    max-height: 10vh;
    
}